* { margin: 0; padding: 0; border-width: 0; font-size: 10px; }
* * { font-size: 1em; }
hr { height: 1px; margin: 2em 0 1.5em 0; background: #425767; border-width: 0; }

/*FORMS*/
form.h select { width:55%;padding: .5em; background: #fff url(../images/input_bg.gif) bottom repeat-x; border: 1px solid #b0b5bd; border-bottom: 1px solid #757a82; font: 1.2em Lucida Sans Unicode, Trebuchet MS, Sans; color: #222; }
form.h select:focus { border-top: 1px solid #757a82; border-bottom: 1px solid #b0b5bd; font-weight: bold }
input { padding: .5em; background: #fff url(../images/input_bg.gif) bottom repeat-x; border: 1px solid #b0b5bd; border-bottom: 1px solid #757a82; font: 1.2em Lucida Sans Unicode, Trebuchet MS, Sans; color: #222; }
input:focus { border-top: 1px solid #757a82; border-bottom: 1px solid #b0b5bd; font-weight: bold }
input.button { float: left; width: 100% !important; margin: 0 !important; padding: .5em; background:#b0b5bd url(../images/button_bg.gif) bottom repeat-x; border: 1px solid #fff; font: .8em verdana; font-weight: bold; text-align: center; color: #222; cursor: pointer; }
input.button:hover { background: #b0b5bd url(../images/button_bg_hover.gif) top repeat-x; }

form.h .button_wrapper input.button {  float: left; width: 100% !important; margin: 0 !important; padding: .5em; background:#b0b5bd url(../images/button_bg.gif) bottom repeat-x; border: 1px solid #fff; font: .8em verdana; font-weight: bold; text-align: center; color: #222; cursor: pointer; }
form.h .button_wrapper input.button:hover { background: #b0b5bd url(../images/button_bg_hover.gif) top repeat-x; }
label { font: 1.2em verdana; font-weight: bold; color: #7c7c7c; }
textarea { width: 97%; margin-top: .5em; padding: .6em; background: url(../images/input_bg.gif) bottom repeat-x; border: 1px solid #b0b5bd;  font: 1.2em Lucida Sans Unicode, Trebuchet MS, Sans; color: #222; }
textarea:focus { border-top: 1px solid #757a82; border-bottom: 1px solid #b0b5bd; font-weight: bold; }

form.h input select { float: left; width: 55%; margin-bottom: .5em; }
form.h label { float: left; width: 40%; }
form.h .button_wrapper { margin-top: 1em; }

form.h div {margin-top: 1em;}
/*CLASSES*/
.button_wrapper { width: 15em; border: 1px solid #bfbfbf; float: left;margin-left:10px;}
.clear { clear: both; }
.left { float: left; }
.right { float: right; }
.underline { text-decoration: underline; }

#h2 { margin-bottom: 1em; border-bottom: 1px solid #f0f0f0; font: 1.8em verdana; line-height: 2.2em; color: #656565; }
